<div id="page-sidebar" ng-controller="SidebarCtrl">
  <ul id="sidebar-navigation">
    <li>
      <a href="#" class="sidebar-logo" style="padding:2px 2px 2px 5px;">
        <img alt="Cloud Foundry UI by Orange" src="assets/images/c1a7564.logo.png">
      </a>
    </li>

    <li ng-repeat="organizationSidebar in organizationsSidebar" class="fadein" ng-show="rootFields.showContent">
      <a href="#" ng-class="{active: isActive('/organizations/' + organizationSidebar.id)}" toggle-subnavi>{{organizationSidebar.name}}</a>
      <ul>
        <li><a href="#/organizations/{{organizationSidebar.id}}">Overview</a></li>
        <li ng-repeat="spaceSidebar in organizationSidebar.spaces">
          <a href="#/organizations/{{organizationSidebar.id}}/spaces/{{spaceSidebar.id}}" ng-class="{active: isActive('/organizations/' + organizationSidebar.id + '/spaces/' + spaceSidebar.id)}">{{spaceSidebar.name}}</a>
        </li>
      </ul>
    </li>
    <li ng-show="rootFields.showContent"><a href="#/marketplace" ng-class="{active: isActive('/marketplace')}">Marketplace</a></li>
  </ul><!-- /#sidebar-navigation -->
</div><!-- /#page-sidebar -->
